@media all and (max-width:1190px) {
    .card{
        width: calc((100% - 39px) / 4);
    }
}

@media all and (max-width:750px){
    #track-icon img{
        width: 35%;
        min-width: 28px;
    }
    
    #folder-favourites div{
        display: block;
    }

    .side-controls .bar-tot{
        width: 45%;
    }

    .card{
        width: calc((100% - 13px) / 2);
    }
}

@media all and (max-width:550px) {
    #cta{
        width: calc(100% - 50px);
    }

    #side-bar{
        width: 50px;
        height: 100%;
        padding: 4px 10px 5px;
        flex-shrink: 0;
    }

    #logo{
        height: 40px;
    }

    #logo-big{
        display: none;
    }

    #logo-small{
        display: block;
    }

    .no-responsive{
        display: none;
    }

    #download{
        text-align: center;
        width: 100%;
    }

    #user{
        margin-top: 5px;
        text-align: center;
        width: 100%;
    }

}

@media all and (max-width:510px) {
    #track-icon img{
        display: none;
    }

    .side-controls:first-child{
        flex-shrink: 1.7;
    }
}

@media all and (max-width:480px) {
    .side-controls .bar-tot{
        display: none;
    }
    .side-controls:last-child{
        flex-shrink: 2;
    }
}