@media all and (max-width:750px){
    #track-icon img{
        width: 35%;
        min-width: 28px;
    }
    
    #folder-favourites div{
        display: block;
    }

    .side-controls .bar-tot{
        width: 45%;
    }
}

@media all and (max-width:500px) {
    #track-icon img{
        display: none;
    }

    .side-controls:first-child{
        flex-shrink: 1.7;
    }
}