*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --green: #90d32c;
    --grey: rgba(255, 255, 255, .5);
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 13.5px;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
}

.greenbar{
    background-color: var(--green);
    border-radius: 5px;
}

.dark-till-hover{
    opacity: 0.5;
}

.less-dark-till-hover{
    opacity: 0.85;
}

#main-container{
    display: flex;
    flex-wrap: nowrap;
    height: calc(100vh - 90px);
    overflow: auto;
}

/* main part rules */
#main-container{
    display: flex;
    height: calc(100vh - 90px);
}

/* side bar rules */
#side-bar{
    background-color: #000;
    color: #fff;
    width: 230px;
    height: 100%;
    padding: 18px 18px 3px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#side-bar > *{
    width: fit-content;
}

#logo{
    height: 72px;
    flex-shrink: 0;
}

#logo-big{
    width: 135px;
}

#logo-small{
    width: 30px;
    display: none;
}

.side-option img{
    width: 30px;
}

.side-option span{
    vertical-align: top;
    line-height: 30px;
}

.side-option.less-dark-till-hover{
    position: relative;
}

#side-bar .greenbar{
    height: 40px;
    width: 4px;
    position: absolute;
    left: -18px;
    top: -5px;
}

#side-bar h3{
    margin: 15px 0;
}

#add{
    background-color: #fff;
    color: #000;
    display: inline-block;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 45px;
    vertical-align: middle;
}

#side-bar ul{
    overflow-y: auto;
    width: 100%;
    min-height: 40px;
}

#side-bar li{
    margin: 15px 0;
    width: fit-content;
}

#download{
    margin-top: auto;
    font-size: 0.9rem;
}

#download img{
    width: 19px;
    vertical-align: middle;
}

#side-bar hr{
    border-color: var(--grey);
    width: 100%;
    margin: 5px 0;
}

#user{
    font-weight: bold;
    cursor: pointer;
}

#user img{
    width: 23px;
    vertical-align: middle;
    background-color: var(--grey);
    border-radius: 50%;
    margin-right: 2px;
}



/* control bar rules */
#controls{
    height: 90px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* constrols side rules */
.side-controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: 230px;
    font-size: 1.1em;
}

#track-icon{
    display: flex;
    align-items: center; 
}

#track-icon img{
    max-width: 43px;
}

#track-name{
margin-left: 10px;
font-size: 0.9rem;
}

#track-name .dark-till-hover{
    font-size: 0.8rem;
}

#folder-favourites div{
    display: inline-block;
    margin-right: 10px;
}

.side-controls .bar-tot{
    width: 120px;
}

/* center part controls rules */
#main-controls{
    width: 38%;
    min-width: 226px;
    text-align: center;
}

#track-controls{
    font-size: 1.3rem;
    margin-bottom: 15px;
}

#track-controls i{
    margin: 0 10px;
    vertical-align: middle;
}

#track-controls #play{
    font-size: 2.2rem;
    margin: 0 15px;
    transition: all 0.1s linear;
}

#time-bar{
    font-size: 0.7rem;
}

#time-bar > *{
    display: inline-block;
    vertical-align: middle;
}

.bar-tot{
    background-color: #5a5a5a;
    height: 4px;
    border-radius: 2px;
}

.bar-pointer{
    display: none;
    padding: 7px;
    border-radius: 7px;
    background-color: #fff;
    position: absolute;
    right: -7px;
    top:-5px;
}

#time-bar .bar-tot{
    width: 70%;
    margin: 0 10px;
}

.bar-now{
    background-color: #c1c1c1;
    height: 100%;
    border-radius: 2px;
    width: 20%;
}